{% load static %}
<header>
  <div class="header__content">
    <i>
      <img class="header__menuIcon" src={% static "imgs/icons/IconMenu.png" %} alt="icone de menu" />
    </i>
    <img class="header__logo" src={% static "imgs/icons/IconLogo.png" %} alt="logo da loja Laurant" />
    <nav class="header__navigation">
      <a href="#">
        <img src={% static "imgs/icons/IconFavorite.png" %} alt="icone da lista de favoritos" class="">
      </a>
      <a href="#">
        <img src={% static "imgs/icons/IconShoppingCart.png" %} alt="icone do carrinho de compras" class="">
      </a>
      <a href="#">
        <img src={% static "imgs/icons/IconPerson.png" %} alt="icone do perfil" class="">
      </a>
    </nav>
  </div>
</header>