{% extends 'livros/base.html' %}
{% load static %}

{% block stylesLinks %}
  <link rel="stylesheet" href={% static "style/book.css" %}>
{% endblock stylesLinks %}

{% block content %}
  <main>
    <a class="goBack" href={% url 'loja' %}>voltar</a>
    <section class="book">
      <img class="book__cover" src={% static "imgs/livros/mil-beijos-de-garoto.jpg" %} alt="capa do livro mil beijos de garoto">
      <div class="book__info">
        <h2 class="book__title">Mil beijos de garoto</h2>
        <p class="book__author">Tillie Cole</p>
        <p class="book__description"></p>
        <p class="book__price">$29.99</p>
        <button class="book__btn">Adicionar ao carrinho</button>
      </div>
    </section>
  </main>
{% endblock content %}