{% extends 'livros/base.html' %}
{% load static %}

{% block stylesLinks %}
  <link rel="stylesheet" href={% static "style/marketplace.css" %}>
{% endblock stylesLinks %}

{% block content %}
  <main>
    <section class="booksToSell">
      <ul class="booksList">
        {% for livro_id, livro_info in cards.items %}
          <li class="booksList__item">
            <a href={% url 'livro' %} class="book">
              <img class="book__image" src={% static "imgs/livros/mil-beijos-de-garoto.jpg" %} alt="capa do livro {{livro_info.titulo}}">
              <h3 class="book__title"> {{livro_info.titulo}} </h3>
              <p class="book__author"> {{livro_info.autor}} </p>
              <p class="book__price">R${{livro_info.preco}} </p>
            </a>
          </li>
        {% empty %}
          <p>Oops, parece que nossa estante caiu e ficamos sem livros! volte novamente mais tarde!</p>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock content %}