<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/style/reset.css">
  <link rel="stylesheet" href="/style/header.css">
  <link rel="stylesheet" href="./style/marketplace.css">
  <link rel="stylesheet" href="/style/footer.css">

  <title> Laurant Bookstoe </title>
</head>
<body>
  <header>
    <div class="header__content">
      <i>
        <img class="header__menuIcon" src="./imgs/IconMenu.png" alt="icone de menu" />
      </i>
      <img class="header__logo" src="./imgs/IconLogo.png" alt="logo da loja Laurant" />
      <nav class="header__navigation">
        <a href="#">
          <img src="./imgs/IconFavorite.png" alt="icone da lista de favoritos" class="">
        </a>
        <a href="#">
          <img src="imgs/IconShoppingCart.png" alt="icone do carrinho de compras" class="">
        </a>
        <a href="#">
          <img src="imgs/IconPerson.png" alt="icone do perfil" class="">
        </a>
      </nav>
    </div>
  </header>
  <main>
    <section class="booksToSell">
      <ul class="booksList">
        <li class="booksList__item">
          <a href="book.html" class="book">
            <img class="book__image" src="imgs/capaLivro.jpg" alt="capa do livro mil beijos de garoto">
            <h3 class="book__title">Mil beijos de garoto</h3>
            <p class="book__author">Tillie Cole</p>
            <p class="book__price">R$50,00</p>
          </a>
        </li>
        <li class="booksList__item">
          <a href="book.html" class="book">
            <img class="book__image" src="imgs/capaLivro.jpg" alt="capa do livro mil beijos de garoto">
            <h3 class="book__title">Mil beijos de garoto</h3>
            <p class="book__author">Tillie Cole</p>
            <p class="book__price">R$50,00</p>
          </a>
        </li>
        <li class="booksList__item">
          <a href="book.html" class="book">
            <img class="book__image" src="imgs/capaLivro.jpg" alt="capa do livro mil beijos de garoto">
            <h3 class="book__title">Mil beijos de garoto</h3>
            <p class="book__author">Tillie Cole</p>
            <p class="book__price">R$50,00</p>
          </a>
        </li>
        <li class="booksList__item">
          <a href="book.html" class="book">
            <img class="book__image" src="imgs/capaLivro.jpg" alt="capa do livro mil beijos de garoto">
            <h3 class="book__title">Mil beijos de garoto</h3>
            <p class="book__author">Tillie Cole</p>
            <p class="book__price">R$50,00</p>
          </a>
        </li>
        <li class="booksList__item">
          <a href="book.html" class="book">
            <img class="book__image" src="imgs/capaLivro.jpg" alt="capa do livro mil beijos de garoto">
            <h3 class="book__title">Mil beijos de garoto</h3>
            <p class="book__author">Tillie Cole</p>
            <p class="book__price">R$50,00</p>
          </a>
        </li>
        <li class="booksList__item">
          <a href="book.html" class="book">
            <img class="book__image" src="imgs/capaLivro.jpg" alt="capa do livro mil beijos de garoto">
            <h3 class="book__title">Mil beijos de garoto</h3>
            <p class="book__author">Tillie Cole</p>
            <p class="book__price">R$50,00</p>
          </a>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    Criado por <a class="footer__link" href="https://www.github.com/AntonioPGR">Antonio Pacheco</a>
  </footer>
</body>
</html>